---

import { Image } from '@astrojs/image/components';


interface ProjectProps {
    title: string;
    description: string;
    thumbnail: string;
    tags: string[];
   sourceCode:string;
}
    const {title, description, thumbnail, tags, sourceCode} = Astro.props as ProjectProps
---
            <div class="max-w-[20.6rem] h-[90%] flex-grow border-2 p-l-[2rem] border-gray">
                <div>
                    <Image class="h-48 w-full object-cover" src={thumbnail} alt="project#1 thumbnail" width={326} height={192} format="jpg"/>
                    <span class="flex justify-center py-[0.3rem] gap-4 flex-wrap">
                    {
                    tags.map(tech=>(<h5>{tech}</h5>))
                    }
                    </span>
                </div>
                <div class="px-4 h-1/2 flex flex-col border-t-2 border-gray justify-around">
                    <h2 class="text-2xl">{title}</h2>
                    <p class="text-gray">{description}</p>
                    <a class="text-white flex border-accent border-2 w-[10rem] h-[3rem] p-[0.2rem] cursor-pointer font-bold fle items-center justify-center" href={sourceCode}>
                        <img src="/Github.svg" alt="" />
                        Source Code
                    </a>
                </div>
            </div>
